@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu-Bold";
  src: url(../assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: "Ubuntu-Medium";
  src: url(../assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: "Ubuntu-Regular";
  src: url(../assets/fonts/Ubuntu-Regular.ttf);
}

@layer base {
  * {
    @apply text-neutral-700 font-ubuntuRegular;
  }
  h1 {
    @apply font-ubuntuBold text-900 text-dark-blue mb-2;
  }
  h2 {
    @apply text-700 mb-5;
  }
  h3 {
    @apply font-ubuntuMedium text-dark-blue;
  }
  .sidebar {
    @apply flex justify-center bg-[url('../assets/images/bg-sidebar-mobile.svg')] bg-cover bg-no-repeat bg-center pb-16;
  }
  .sidebar__circle {
    @apply rounded-full border-white border p-4 relative;
  }
  .sidebar__circle__number {
    @apply absolute top-1.5 left-3 text-500 text-white;
  }
  .card {
    @apply mx-side-margin bg-white rounded-xl absolute top-28 px-6 py-7;
  }
  .personal-input {
    @apply placeholder:text-600 placeholder:text-neutral-700 px-5 py-2 mb-2 block w-full focus:outline focus:outline-purple-blue;
  }
  .gray-border {
    @apply border rounded-md border-neutral-400;
  }
  label {
    @apply text-dark-blue text-500;
  }
  .dark-blue-button {
    @apply bg-dark-blue text-600 text-white px-4 py-2.5 rounded;
  }
  .error {
    @apply text-red font-ubuntuMedium text-500 hidden;
  }
  .free-month {
    @apply text-500 text-dark-blue font-ubuntuRegular hidden;
  }
}
