@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Ubuntu-Bold";
    src: url(../assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: "Ubuntu-Medium";
    src: url(../assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: "Ubuntu-Regular";
    src: url(../assets/fonts/Ubuntu-Regular.ttf);
}

@layer base{
    h1{
        @apply font-ubuntuBold text-900 text-dark-blue
    }
    h2 {
        @apply font-ubuntuRegular text-700 text-neutral-700
    }
    .sidebar__circle{
        @apply rounded-full border-white border p-4 relative
    }
    .sidebar__circle__a{
        @apply absolute top-1 left-3 text-500 text-white
    }
}